In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
df = pd.read_excel("Sagarin_Men_2018_Raw.xlsx")
df.head()

  College Basketball 2017-2018          Div I games only    through games of 2018 March 11 Sunday
0                                  RATING    W   ...
1                  HOME ADVANTAGE=[  3.17]       ...
2     1  Villanova               =  94.73   30   ...
3     2  Virginia                =  93.65   31   ...
4     3  Duke                    =  93.35   26   ...

In [3]:
drop_index = [13*x-1 for x in range(1,36)] + [13*x for x in range(36)] + [13*x+1 for x in range(36)]
df = df.drop(df.index[drop_index])

In [4]:
Rating = df.iloc[:,0].str.split('=',expand=True).iloc[:,1].str.split(expand=True).iloc[:,0]

In [5]:
TeamName = df.iloc[:,0].str.split('\s+=',expand=True).iloc[:,0].str.split('\d+\s+',expand=True).iloc[:,1]

In [6]:
df_processed = pd.DataFrame(
    {'Team': TeamName,
     'Rating': Rating,
    })
df_processed = df_processed.reset_index().drop('index',axis=1)

## Data Cleaning of Team Names

In [7]:
df_Teams = pd.read_csv("../Data section 1 - The Basics/Teams.csv")

In [8]:
df_processed['Team'] = df_processed['Team'].replace('(State)', 'St', regex=True)

In [9]:
df_processed['Team'] = df_processed['Team'].replace('(\d+)', '', regex=True)

In [10]:
df_processed['Team'] = df_processed['Team'].replace('(-)', ' ', regex=True)

In [11]:
df_processed['Team'] = df_processed['Team'].replace('(\.)', '', regex=True)

In [12]:
df_processed['Team'] = df_processed['Team'].replace('(\xa0)', '', regex=True)

In [13]:
df_processed['Team'] = df_processed['Team'].replace('(Saint)', 'St', regex=True)

In [14]:
df_processed['Team'] = df_processed['Team'].replace('(Eastern )', 'E ', regex=True)

In [15]:
df_processed['Team'] = df_processed['Team'].replace('St Mary\'s Cal', 'St Mary\'s CA')
df_processed['Team'] = df_processed['Team'].replace('Xavier Ohio', 'Xavier')
df_processed['Team'] = df_processed['Team'].replace('Miami Florida', 'Miami FL')
df_processed['Team'] = df_processed['Team'].replace('VCU(Va Commonwealth)', 'VA Commonwealth')
df_processed['Team'] = df_processed['Team'].replace('Southern California', 'USC')
df_processed['Team'] = df_processed['Team'].replace('Middle Tennessee', 'MTSU')
df_processed['Team'] = df_processed['Team'].replace('NC Wilmington', 'UNC Wilmington')
df_processed['Team'] = df_processed['Team'].replace('Central Florida(UCF)', 'UCF')
df_processed['Team'] = df_processed['Team'].replace('East Tennessee St(ETS= ', 'ETSU')
df_processed['Team'] = df_processed['Team'].replace('Texas Arlington', 'UT Arlington')
df_processed['Team'] = df_processed['Team'].replace('NC St', 'NC State')
df_processed['Team'] = df_processed['Team'].replace('Oakland Mich', 'Oakland')
df_processed['Team'] = df_processed['Team'].replace('College of Charleston', 'Col Charleston')
df_processed['Team'] = df_processed['Team'].replace('Loyola Chicago', 'Loyola-Chicago')
df_processed['Team'] = df_processed['Team'].replace('Florida Gulf Coast', 'FL Gulf Coast')
df_processed['Team'] = df_processed['Team'].replace('George Washington', 'G Washington')
df_processed['Team'] = df_processed['Team'].replace('NC Asheville', 'UNC Asheville')
df_processed['Team'] = df_processed['Team'].replace('Fort Wayne(IPFW)', 'IPFW')
df_processed['Team'] = df_processed['Team'].replace('Kent St', 'Kent')
df_processed['Team'] = df_processed['Team'].replace('Southern Illinois', 'S Illinois')
df_processed['Team'] = df_processed['Team'].replace('Northern Kentucky', 'N Kentucky')
df_processed['Team'] = df_processed['Team'].replace('Eastern Michigan', 'E MIchigan')
df_processed['Team'] = df_processed['Team'].replace('NC Greensboro', 'UNC Greensboro')
df_processed['Team'] = df_processed['Team'].replace('St Joseph\'s Pa', 'St Joseph\'s PA')
df_processed['Team'] = df_processed['Team'].replace('Louisiana Lafayette', 'ULL')
df_processed['Team'] = df_processed['Team'].replace('North Dakota St', 'N Dakota St')
df_processed['Team'] = df_processed['Team'].replace('Western Michigan', 'W Michigan')
df_processed['Team'] = df_processed['Team'].replace('Pennsylvania', 'Penn')
df_processed['Team'] = df_processed['Team'].replace('Loyola Marymount', 'Loy Marymount')
df_processed['Team'] = df_processed['Team'].replace('Omaha(Neb Omaha)', 'NE Omaha')
df_processed['Team'] = df_processed['Team'].replace('Green Bay', 'WI Green Bay')
df_processed['Team'] = df_processed['Team'].replace('Texas A&M CorpusChristi', 'TAM C. Christi')
df_processed['Team'] = df_processed['Team'].replace('South Dakota St', 'S Dakota St')
df_processed['Team'] = df_processed['Team'].replace('Boston U', 'Boston Univ')
df_processed['Team'] = df_processed['Team'].replace('Georgia Southern', 'Ga Southern')
df_processed['Team'] = df_processed['Team'].replace('Northern Illinois', 'N Illinois')
df_processed['Team'] = df_processed['Team'].replace('Coastal Carolina', 'Coastal Car')
df_processed['Team'] = df_processed['Team'].replace('Texas Southern', 'TX Southern')
df_processed['Team'] = df_processed['Team'].replace('Stony Brook NY', 'Stony Brook')


df_processed['Team'] = df_processed['Team'].replace('Mount St Mary\'s', 'Mt St Mary\'s')
df_processed['Team'] = df_processed['Team'].replace('Central Michigan', 'C Michigan')
df_processed['Team'] = df_processed['Team'].replace('Western Kentucky', 'WKU')
df_processed['Team'] = df_processed['Team'].replace('Kansas City(UMKC)', 'Missouri KC')
df_processed['Team'] = df_processed['Team'].replace('Stephen F Austin', 'SF Austin')
df_processed['Team'] = df_processed['Team'].replace('Little Rock', 'Ark Little Rock')
df_processed['Team'] = df_processed['Team'].replace('Illinois Chicago', 'IL Chicago')
df_processed['Team'] = df_processed['Team'].replace('Houston Baptist', 'Houston Bap')
df_processed['Team'] = df_processed['Team'].replace('Hawai\'i', 'Hawaii')
df_processed['Team'] = df_processed['Team'].replace('SE Missouri St(SEMO)', 'SE Missouri St')
df_processed['Team'] = df_processed['Team'].replace('Long Island U(LIU)', 'Long Island')
df_processed['Team'] = df_processed['Team'].replace('Long Island U', 'Long Island')
df_processed['Team'] = df_processed['Team'].replace('North Florida(UNF)', 'North Florida')
df_processed['Team'] = df_processed['Team'].replace('Milwaukee', 'WI Milwaukee')
df_processed['Team'] = df_processed['Team'].replace('Louisiana Monroe', 'ULM')
df_processed['Team'] = df_processed['Team'].replace('St Francis Pa', 'St Francis PA')
df_processed['Team'] = df_processed['Team'].replace('Miami Ohio', 'Miami OH')
df_processed['Team'] = df_processed['Team'].replace('Fairleigh Dickinson', 'F Dickinson')
df_processed['Team'] = df_processed['Team'].replace('Fla International', 'Florida Intl')
df_processed['Team'] = df_processed['Team'].replace('Northern Colorado', 'N Colorado')
df_processed['Team'] = df_processed['Team'].replace('UMass Lowell', 'MA Lowell')
df_processed['Team'] = df_processed['Team'].replace('Sacramento St', 'CS Sacramento')
df_processed['Team'] = df_processed['Team'].replace('Western Illinois', 'W Illinois')
df_processed['Team'] = df_processed['Team'].replace('American U', 'American Univ')
df_processed['Team'] = df_processed['Team'].replace('Abilene Christian', 'Abilene Chr')
df_processed['Team'] = df_processed['Team'].replace('Charleston Southern', 'Charleston So')
df_processed['Team'] = df_processed['Team'].replace('UC Santa Barbara', 'Santa Barbara')
df_processed['Team'] = df_processed['Team'].replace('Central Arkansas', 'Cent Arkansas')
df_processed['Team'] = df_processed['Team'].replace('Southern U', 'Southern Univ')
df_processed['Team'] = df_processed['Team'].replace('Md E Shore(UMES)', 'MD E Shore')
df_processed['Team'] = df_processed['Team'].replace('Western Carolina', 'W Carolina')
df_processed['Team'] = df_processed['Team'].replace('Central Connecticut St', 'Central Conn')
df_processed['Team'] = df_processed['Team'].replace('Northwestern St', 'Northwestern LA')
df_processed['Team'] = df_processed['Team'].replace('Iona College', 'Iona')

In [16]:
j=0
for i in range(350):
    if df_processed['Team'].iloc[i] not in df_Teams['TeamName'].values: 
        print(i, df_processed['Team'].iloc[i])
        j+=1
print('total mismatch = ', j)

184 UTSA
251 Army West Point
253 Florida Atlantic
264 NJIT(New Jersey Tech)
287 Tennessee Martin
293 Prairie View A&M
302 Kennesaw St
304 Binghamton NY
306 Loyola Maryland
308 Bethune Cookman
309 Detroit Mercy
319 SIU Edwardsville
320 The Citadel
322 Grambling St
331 USC Upstate
336 Presbyterian College
343 SC St
346 MVSU(Miss Valley St)
total mismatch =  18

In [17]:
df_processed.to_csv('Sagarin_Men_processed.csv', index=False)